
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}


p {
    font-size: 16px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 20px;
}
h2{
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.block {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 100px auto;
    width: 60%;
}
.myfield {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    height: 25px;
    width: 200px;
    margin: 0;
}

.field-email {
{
    #width: 210px;
}
}

.myfield_select {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    width: auto;
    margin: 0;
}

.field_salary {
    width: 90px;
}

.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    width: auto;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.table_home{
    border-collapse: separate;
    border-spacing: 5px 10px;
    margin-left: auto;
    margin-right: auto;

}

.table_home td{
    text-align: center;
    align-content: center;
    padding: .3em 1em;
}