body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

a {
    font-weight: bold;
    color: #0072ff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #ec103b;
    transform: scale(1.1);
}

a:active {
    color: #000;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.block {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 100px auto;
    width: 60%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
}

.myfield {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    height: 25px;
    width: 200px;
    margin: 0;
}

.field-email {
    #width: 210px;
}

.myfield_select {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    width: auto;
    margin: 0;
}

.field_salary {
    width: 90px;
}

.button {
    font-size: 20px;
    display: block;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 30px;
    padding: 10px 70px;
    margin: 20px auto 0;
    cursor: pointer;
    background-image: linear-gradient(to right, #ED1443 0%, #2056AE 51%, #ED1443 100%);
}

.button:hover {
     background-position: right center;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.table_home {
    border-collapse: separate;
    border-spacing: 5px 10px;
    margin-left: auto;
    margin-right: auto;

}

.table_home td {
    text-align: center;
    align-content: center;
    padding: .3em 1em;
}