.a-45 {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.container-left {
    background: linear-gradient(354.26deg, #2056AE 39.9%, #2056AE 54.93%, #2056AE 56.73%, #A32B9B 77.46%, #ED1443 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 14px 25px 16px;
    box-sizing: border-box;
    width: 400px;
}

.container-right {
    margin: 10px auto 10px 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.container-logo-guap {
    margin: 0 4px 8px 4px;
    align-self: flex-start;
    width: 182px;
    height: 82px;
}

.container-icon {
    margin: 30px 7px 2px 2px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.icon {
    margin-right: 15.5px;
    width: 36.5px;
    height: 40.5px;
}

.icon-text {
    margin: 5px 0 6.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #1671C2;
}

.name-student {
    margin: 0 auto 0 5px;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.data-info {
    margin: 0 0 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.group-info {
    margin: 10px 0 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.name-info {
    margin: 0 auto 6px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.data-info_ {
    margin: 0 auto 0 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.line-contact {
    border-radius: 5px;
    background: #FFFFFF;
    width: auto;
    height: 3px;
}

.contact {
    margin: 10px 0 10px 5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.container-contact {
    margin: 10px 0 10px 5px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.icon-contact {
    margin: 0 5px 0 0;
    width: 22px;
    height: auto;
}

.data-contact {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.ellipse-group {
    margin: 0 auto 3px 10px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.ellipse-text {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.ellipse {
    border-radius: 5px;
    background: #1671C2;
    margin: 8px 10px 5px 0;
    width: 10px;
    height: 10px;
}

.container-comment {

}