.cls-bo-w-3-x-cnzk-fbfu-435-wta-2-jx-pfr-ngvd-enw-ytyxu-4-wc-efpt {
    margin: 0 78.7px 11px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.iconphone {
    margin-right: 9.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 22.5px;
    height: 24.1px;
    box-sizing: border-box;
}

.vector-2 {
    width: 22.5px;
    height: 24.1px;
}

.t79322332456 {
    margin-bottom: 0.1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.iconmail {
    margin: 4px 9.9px 3.1px 0;
    width: 24.1px;
    height: 16.9px;
}

.bibamail-ru {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.iconuser-circle-alt {
    margin-right: 14px;
    width: 39px;
    height: 39px;
}

.iconmultiple-pages {
    margin-right: 15.5px;
    width: 36.5px;
    height: 40.5px;
}

.a-45 {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

/*.block {*/
/*  padding: 0;*/
/*  width: 80%;*/
/*}*/

.iconbookmark-book {
    margin-right: 13px;
    width: 35px;
    height: 39.4px;
}

.t19 {
    margin: 5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #1671C2;
}

.t20 {
    margin: 5px 0 6.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #1671C2;
}

.t21 {
    margin: 6px 0 4.4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #1671C2;
}

.rectangle-4 {
    border-radius: 5px;
    background: #FFFFFF;
    width: 200px;
    height: 5px;
}

.t22 {
    margin: 0 6px 5px 6px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.group-6 {
    margin: 0 3px 23px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t23 {
    margin: 0 15.1px 6px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.t24 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.group-7 {
    margin: 0 3px 23px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t25 {
    margin: 0 5.3px 6px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.t000 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.group-8 {
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t26 {
    margin-bottom: 6px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.s-guap-main-1 {
    margin: 0 4px 8px 4px;
    align-self: flex-start;
    width: 182px;
    height: 82px;
}

.t27 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.group-9 {
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t28 {
    margin-bottom: 6px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.t29 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.group-10 {
    margin: 0 3px 26px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t30 {
    margin: 0 1.7px 6px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.t31 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.t32 {
    margin: 0 75.9px 15px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.group-12 {
    margin: 0 13px 8px 13px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t33 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.ellipse-4 {
    border-radius: 5px;
    background: #1671C2;
    margin: 4px 10px 5px 0;
    width: 10px;
    height: 10px;
}

.group-13 {
    margin: 0 13px 8px 13px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t35 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.ellipse-5 {
    border-radius: 5px;
    background: #1671C2;
    margin: 4px 10px 5px 0;
    width: 10px;
    height: 10px;
}

.group-14 {
    margin: 0 13px 8px 13px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t36 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.ellipse-6 {
    border-radius: 5px;
    background: #1671C2;
    margin: 4px 10px 5px 0;
    width: 10px;
    height: 10px;
}

.group-15 {
    margin: 0 13px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t37 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.ellipse-7 {
    border-radius: 5px;
    background: #1671C2;
    margin: 4px 10px 5px 0;
    width: 10px;
    height: 10px;
}

.group-11 {
    margin: 0 13px 8px 13px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t39 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.ellipse-8 {
    border-radius: 5px;
    background: #1671C2;
    margin: 4px 10px 5px 0;
    width: 10px;
    height: 10px;
}

.group-16 {
    margin: 0 13px 10px 13px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t40 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.ellipse-841 {
    border-radius: 5px;
    background: #1671C2;
    margin: 4px 10px 5px 0;
    width: 10px;
    height: 10px;
}

.group-17 {
    margin: 0 14px 19px 14px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.t42 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.ellipse-843 {
    border-radius: 5px;
    background: #1671C2;
    margin: 4px 10px 5px 0;
    width: 10px;
    height: 10px;
}

.t44 {
    margin: 0 19px 20px 19px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.t46 {
    margin: 0 15px 17px 15px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.t47 {
    margin: 0 16px 20px 16px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.foto-na-dokumenty-ot-pechaterfoto-31 {
    border-radius: 25px;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-europe-west1/trialprojects/trial-SnGUqLMmAWM1wwD6BDhy3E/assets/images/8ef59c015fb79d9867e4a96b1f5f75c9efc9e488?Expires=1711383936&KeyName=fn12-cdn&Signature=RcaZj33j_l2Dnfi1Z54hqeEge2k=') 50% / cover no-repeat;
    margin: 0 11px 32px 0;
    align-self: center;
    width: 159px;
    height: 240px;
}

.container-5 {
    background: linear-gradient(354.26deg, #2056AE 39.9%, #2056AE 54.93%, #2056AE 56.73%, #A32B9B 77.46%, #ED1443 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 14px 5px 16px;
    box-sizing: border-box;
}

.container-49 {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.container-50 {
    margin: 0 6px 19.9px 6px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.container-51 {
    margin: 0 4px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.container-52 {
    margin: 11px 0 12px 0;
    flex-direction: column;
    box-sizing: border-box;
}

.container-53 {
    margin: 0 0 18.6px 5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.container-54 {
    margin: 0 7px 19.5px 7px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}