{% extends 'index.html' %}
{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}"/>

    <div class="container"></div>
    <div class="block">
        <h1 class="page-title">Аккаунт</h1>
        <hr>
        {% if student != None and update_check == 0 %}
            <form method="get">
                <p class="user-role">Ваши данные</p>
                <hr>
                <div class="user-info">
                    {% if photo != "" %}
                        <div>
                            <img class="container-photo" src="{% url 'get_image' image_name=photo %}"/>
                        </div>
                    {% endif %}
                    <div class="column-info">
                        <div class="info-item">
                            <strong>ФИО:</strong> {{ student.surname }} {{ student.name }} {{ student.middle_name }}
                        </div>
                        <div class="info-item">
                            <strong>Дата рождения:</strong> {{ student.birthdate }}
                        </div>
                        <div class="info-item">
                            <strong>Пол:</strong> {{ student.gender }}
                        </div>
                    </div>
                    <div class="column-info">
                        <div class="info-item">
                            <strong>Телефон:</strong> {{ student.phone }}
                        </div>
                        <div class="info-item">
                            <strong>Почта:</strong> {{ student.email }}
                        </div>
                        <div class="info-item">
                            <strong>Вид связи:</strong> {{ student.types_of_communication }}
                        </div>
                        <div class="info-item">
                            <strong>Уровень образования:</strong> {{ student.education_level }}
                        </div>
                    </div>
                </div>
                <div class="link-center">
                    <button type="submit" class="button" name="edit_btn">Изменить данные</button>
                </div>
            </form>

        {% elif student == None or update_check == 1 %}
            {% if student == None %}
                <p class="user-role">Введите ваши данные</p>
            {% elif update_check == 1 %}
                <p class="user-role">Измените ваши данные</p>
            {% endif %}
            <hr>
            <div class="bird-form">
                {% if photo == "" %}
                    <div>
                        <img class="container-photo edit" src="{% static 'img/no_photo.png' %}"/>
                    </div>
                {% endif %}
                {% if photo != "" %}
                    <div>
                        <img class="container-photo edit" src="{% url 'get_image' image_name=photo %}"/>
                    </div>
                {% endif %}
                <form id="uploadFormImage" action="http://localhost:8000/resume/api/v1/upload/" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="photoInput" class="file-label">
                        Выберите фото
                    </label>
                    <input type="file" name="image" id="photoInput">
                    <button id="imageSaveBtn" style="display: none;" class="button-file" type="submit">ЗАГРУЗИТЬ
                    </button>
                </form>
            </div>
            <form id="uploadFormAccount" method="post" class="form-container" style="margin-top: 10px;">
                {% csrf_token %}
                <div class="bird-form">
                    <div class="row mb-10">
                        <div class="ml-15">
                            <label for="{{ student_form_account.surname.id_for_label }}">{{ student_form_account.surname.label }}</label>
                            {{ student_form_account.surname }}
                        </div>
                        <div class="ml-25">
                            <label for="{{ student_form_account.name.id_for_label }}">{{ student_form_account.name.label }}</label>
                            {{ student_form_account.name }}
                        </div>
                        <div class="ml-25">
                            <label for="{{ student_form_account.middle_name.id_for_label }}">{{ student_form_account.middle_name.label }}</label>
                            {{ student_form_account.middle_name }}
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="ml-15">
                            <label for="{{ student_form_account.birthdate.id_for_label }}">{{ student_form_account.birthdate.label }}</label>
                            {{ student_form_account.birthdate }}
                        </div>
                        <div class="ml-25">
                            <label for="{{ student_form_account.gender.id_for_label }}">{{ student_form_account.gender.label }}</label>
                            {{ student_form_account.gender }}
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="ml-15">
                            <label for="{{ student_form_account.phone.id_for_label }}">{{ student_form_account.phone.label }}</label>
                            {{ student_form_account.phone }}
                        </div>
                        <div class="ml-25">
                            <label for="{{ student_form_account.email.id_for_label }}">{{ student_form_account.email.label }}</label>
                            {{ student_form_account.email }}
                        </div>
                        <div class="ml-25">
                            <label for="{{ student_form_account.types_of_communication.id_for_label }}">{{ student_form_account.types_of_communication.label }}</label>
                            {{ student_form_account.types_of_communication }}
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="ml-15">
                            <label for="{{ student_form_account.education_level.id_for_label }}">{{ student_form_account.education_level.label }}</label>
                            {{ student_form_account.education_level }}
                        </div>
                    </div>
                </div>
                <div class="link-center">
                    {% if student == None %}
                        <button type="submit" class="button" name="save_btn">Сохранить</button>
                    {% elif update_check == 1 %}
                        <button type="submit" class="button" name="save_btn">Сохранить изменения</button>
                    {% endif %}
                </div>
            </form>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
        // Обработчик события изменения файла
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            var file = this.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementsByClassName('container-photo edit')[0].src = e.target.result;
                document.getElementsByClassName('container-photo edit')[1].src = e.target.result;
            }

            reader.readAsDataURL(file);
        });
        //обработчик отправки формы изменения/сохранения личных данных с загрузкой изображения
        document.getElementById('uploadFormAccount').addEventListener('submit', function (event) {
            //отправка формы выполняется автоматически, сохраняя личные данные
            //затем осуществляется отправка изображения, если оно есть
            var fileInput = document.getElementById('photoInput');
            if (fileInput.value) {
                var input = document.querySelector('input[type="file"]')
                var data = new FormData($('uploadFormImage').get(0))
                data.append('image', input.files[0]);
                $.ajax({
                    url: "upload",
                    type: "POST",
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                    }
                });
            }
        });
    </script>

{% endblock %}