{% extends 'index.html' %}
{% block content %}
<div class="container"></div>
<div class="block">
    <h1>Домашняя страница</h1>
    <p>Роль пользователя: {{ request.session.user_type }}</p>
        {% if request.session.user_type == 'Студент' %}
            <a href="{% url 'myresume' %}">К созданию резюме!</a>
        {% endif %}
    <hr>
    <h1>{% if request.session.user_type == 'Студент' %}Мои резюме{% elif request.session.user_type == 'Модератор' %}Резюме{% endif %}</h1>


    <table class="table table-striped table_home">
    <thead>
      <tr>
        <th>ID резюме</th>
		<th>Дата создания</th>
        <th>Статус</th>
        <th>Просмотр</th>
      </tr>
    </thead>
    <tbody>
	{% for res in resume %}
      <tr>
        <td>{{ res.id_resume }}</td>
		<td>{{ res.date_of_creation }}</td>
        <td>{{ res.moderation_status }}</td>
        <td><a href="{% url 'go_to_sample' %}">Перейти</a></td>
      </tr>
	  {% endfor %}
	</tbody>
</table>

</div>
{% endblock %}
