{% extends 'index.html' %}
{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/resume.css' %}"/>

    <div class="container"></div>
    <div class="block">
        <h1 class="page-title">Создание резюме</h1>
        <hr>
        <form id="form-container" method="post">
            <h2 class="user-role">О работе</h2>
            <hr>
            <div class="bird-form">
                {% csrf_token %}
                {{ about_job_form.as_p }}
            </div>
            <hr>
            <h2 class="user-role">Образование</h2>
            <hr>
            <div class="bird-form">
                {% csrf_token %}
                {{ education_form.as_p }}
            </div>
            <hr>
            <h2 class="user-role">Курсы</h2>
            <hr>
            <div class="bird-form">
                {% csrf_token %}
                {{ courses_form.as_p }}
            </div>
            <hr>
            <h2 class="user-role">Тесты и экзамены</h2>
            <hr>
            <div class="bird-form">
                {% csrf_token %}
                {{ tests_exams_form.as_p }}
            </div>
            <hr>
            <h2 class="user-role">Дополнительно</h2>
            <hr>
            <div class="bird-form">
                {% csrf_token %}
                {{ resume_form.as_p }}
            </div>
            <button type="submit" class="button">Отправить</button>
        </form>
    </div>
{% endblock %}