{% extends 'index.html' %}
{% block content %}
    
<div class="block">
<div class="a-45">
  <div class="container-5">
      {% load static %}
  <img src="{% static 'img/guap-logo.svg' %}" class="s-guap-main-1"/>
    <div class="foto-na-dokumenty-ot-pechaterfoto-31">
    </div>
    <div class="group-6">
      <div class="t23">
        Дата рождения
      </div>
      <div class="t24">
        2000 г.
      </div>
    </div>
    <div class="group-7">
      <div class="t25">
        Желаемая зарплата
      </div>
      <div class="t000">
        60 000 руб.
      </div>
    </div>
    <div class="group-8">
      <div class="t26">
        Город проживания
      </div>
      <div class="t27">
        Санкт-Петербург
      </div>
    </div>
    <div class="group-9">
      <div class="t28">
        Занятость
      </div>
      <span class="t29">
        Полная, полный день
      </span>
    </div>
    <div class="group-10">
      <div class="t30">
        График работы
      </div>
      <span class="t31">
        Полный день
      </span>
    </div>
    <div class="rectangle-4">
    </div>
    <div class="t22">
      Контакты
    </div>
    <div class="container-50">
      <div class="iconphone">
        <img src="{% static 'img/icon_phone.svg' %}" class="vector-2" />
      </div>
      <div class="t79322332456">
        +79322332456
      </div>
    </div>
    <div class="container-51">
      <img src="{% static 'img/icon_mail.svg' %}" class="iconmail" />
      <span class="bibamail-ru">
        biba@mail.ru
      </span>
    </div>
  </div>
  <div class="container-52">
    <div class="cls-bo-w-3-x-cnzk-fbfu-435-wta-2-jx-pfr-ngvd-enw-ytyxu-4-wc-efpt">
      Фамилия Имя Отчество
    </div>
    <div class="t32">
      Должность
    </div>
    <div class="container-49">
      <img src="{% static 'img/icon_user.svg' %}" class="iconuser-circle-alt" />
      <div class="t19">
        ЛИЧНАЯ ИНФОРМАЦИЯ
      </div>
    </div>
    <div class="t44">
      Описание скилов
    </div>
    <div class="t46">
      Переезд
    </div>
    <div class="t47">
      Готов к командировкам
    </div>
    <div class="container-54">
      <img src="{% static 'img/icon_multiple.svg' %}" class="iconmultiple-pages" />
      <div class="t20">
        О РАБОТЕ
      </div>
    </div>
    <div class="group-16">
      <div class="ellipse-841">
      </div>
      <span class="t40">
        Желаемая должность
      </span>
    </div>
    <div class="group-17">
      <div class="ellipse-843">
      </div>
      <span class="t42">
        Специализация
      </span>
    </div>
    <div class="container-53">
      <img src="{% static 'img/icon_bookmark.svg' %}" class="iconbookmark-book" />
      <div class="t21">
        ОБРАЗОВАНИЕ
      </div>
    </div>
    <div class="group-11">
      <div class="ellipse-8">
      </div>
      <span class="t39">
        Ступень образования
      </span>
    </div>
    <div class="group-12">
      <div class="ellipse-4">
      </div>
      <span class="t33">
        Название учебного заведения
      </span>
    </div>
    <div class="group-13">
      <div class="ellipse-5">
      </div>
      <span class="t35">
        Факультет
      </span>
    </div>
    <div class="group-14">
      <div class="ellipse-6">
      </div>
      <span class="t36">
        Специальность
      </span>
    </div>
    <div class="group-15">
      <div class="ellipse-7">
      </div>
      <span class="t37">
        Год окончания
      </span>
    </div>
  </div>
</div>
    </div>
{% endblock %}