{% extends 'index.html' %}
{% block content %}
<div class="block">
<div class="a-45">
  <div class="container">
    <div class="foto-na-dokumenty-ot-pechaterfoto-31">
    </div>
    <div class="group-6">
      <div class="23">
        Дата рождения
      </div>
      <span class="24">
        2000 г.
      </span>
    </div>
    <div class="group-7">
      <div class="25">
        Желаемая зарплата
      </div>
      <span class="000">
        60 000 руб.
      </span>
    </div>
    <div class="group-8">
      <div class="26">
        Город проживания
      </div>
      <span class="27">
        Санкт-Петербург
      </span>
    </div>
    <div class="group-9">
      <div class="28">
        Занятость
      </div>
      <span class="29">
        Полная, полный день
      </span>
    </div>
    <div class="group-10">
      <div class="30">
        График работы
      </div>
      <span class="31">
        Полный день
      </span>
    </div>
    <div class="rectangle-4">
    </div>
    <div class="22">
      Контакты
    </div>
    <div class="container-50">
      <div class="iconphone">
        <img class="vector-2" />
      </div>
      <div class="79322332456">
        +79322332456
      </div>
    </div>
    <div class="container-51">
      <img class="iconmail" />
      <span class="bibamail-ru">
        biba@mail.ru
      </span>
    </div>
  </div>
  <div class="container-52">
    <div class="cls-bo-w-3-x-cnzk-fbfu-435-wta-2-jx-pfr-ngvd-enw-ytyxu-4-wc-efpt">
      Фамилия Имя Отчество
    </div>
    <div class="32">
      Должность
    </div>
    <div class="container-49">
      <img class="iconuser-circle-alt" />
      <div class="19">
        ЛИЧНАЯ ИНФОРМАЦИЯ
      </div>
    </div>
    <div class="44">
      Описание скилов
    </div>
    <div class="46">
      Переезд
    </div>
    <div class="47">
      Готов к командировкам
    </div>
    <div class="container-54">
      <img class="iconmultiple-pages" />
      <div class="20">
        О РАБОТЕ
      </div>
    </div>
    <div class="group-16">
      <div class="ellipse-841">
      </div>
      <span class="40">
        Желаемая должность
      </span>
    </div>
    <div class="group-17">
      <div class="ellipse-843">
      </div>
      <span class="42">
        Специализация
      </span>
    </div>
    <div class="container-53">
      <img class="iconbookmark-book" />
      <div class="21">
        ОБРАЗОВАНИЕ
      </div>
    </div>
    <div class="group-11">
      <div class="ellipse-8">
      </div>
      <span class="39">
        Ступень образования
      </span>
    </div>
    <div class="group-12">
      <div class="ellipse-4">
      </div>
      <span class="33">
        Название учебного заведения
      </span>
    </div>
    <div class="group-13">
      <div class="ellipse-5">
      </div>
      <span class="35">
        Факультет
      </span>
    </div>
    <div class="group-14">
      <div class="ellipse-6">
      </div>
      <span class="36">
        Специальность
      </span>
    </div>
    <div class="group-15">
      <div class="ellipse-7">
      </div>
      <span class="37">
        Год окончания
      </span>
    </div>
  </div>
  <img class="s-guap-main-1" />
</div>
    </div>
{% endblock %}